<h1>Editing Book</h1>


<div class="book-box">

  <%= form_with model:@book do |f| %>
    <p class="form">title</p>
    <%= f.text_field :title %>

    <p class="form">Body</p>
    <%= f.text_area :body %>

    <%= f.submit "Update Book" %>

  <% end %>

</div>

<%= link_to "Show", book_path(@book.id) %>
<a href='/books'>Back</a>
