<h1>Books</h1>

<table class="book-list">
  <tr class="book-category">
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>


  <% @books.each do |book| %>
    <tr>
      <td class="book-title">
        <%= book.title %>
      </td>

      <td class="book-body">
        <%= book.body %>
      </td>
  <% end %>

      <td class="book-control">
      <!--show-->
      a
      <!--edit-->
      b
      <!--destroy-->
      c
      </td>
    </tr>
</table>

<div class="book-box">
  <h4>New book</h4>

  <%= form_with model:Book.new do |f| %>
    <p class="form">title</p>
    <%= f.text_field :title %>

    <p class="form">Body</p>
    <%= f.text_area :body %>

    <%= f.submit "Create Book" %>

  <% end %>

</div>
