<h1>Books</h1>

<table class="book-list">
  <tr class="book-category">
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <% @books.each do |book| %>
    <tr>
      <td class="book-title">
        <%= book.title %>
      </td>

      <td class="book-body">
        <%= book.body %>
      </td>

      <!--show-->
      <td class="book-control">
        <%= link_to "Show", book_path(book.id) %>
      </td>

      <!--edit-->
      <td class="book-control">
        <%= link_to "Edit", edit_book_path(book.id) %>
      </td>

      <!--destroy-->
      <td class="book-control">
        <%= link_to "Destroy", book_path(book.id),method: :delete, "data-confirm" => "Are you sure?" %>
      </td>

    </tr>

  <% end %>

</table>

<div class="book-box">

  <% if @book.errors.any? %>
    <div class="error-box">
      <div class="error-count">
        <%= @book.errors.count %> errors prohibited this book from being saved:
      </div>
      <ul class="error-list">
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h2>New book</h2>

  <%= form_with model:@book do |f| %>
    <p class="form">Title</p>
    <%= f.text_field :title %>

    <p class="form">Body</p>
    <%= f.text_area :body %>

    <div class="create-submit">
      <%= f.submit "Create Book" %>
    </div>

  <% end %>

</div>
