<div class="flash">
  <%= flash[:notice] %>
</div>

<p class="show-category">
  Title:
  <span class="category">
    <%= @book.title %>
  </span>
</p>

<p class="show-category">
  Body:
  <span class="category">
    <%= @book.body %>
  </span>
</p>

<p class="show-submit">
  <%= link_to "Edit", edit_book_path(@book.id) %>
   |
  <%= link_to "Back", "/books" %>
</p>